#!/usr/bin/env bash
root="/Users/roland/code/fedservice/entities"
cd $root/flask_rp/uwsgi_setup/automatic || exit 1
cp uwsgi.ini.example uwsgi.ini
cd $root/flask_rp/uwsgi_setup/explicit || exit 1
cp uwsgi.ini.example uwsgi.ini
cd $root/flask_op/uwsgi_setup || exit 1
cp uwsgi.ini.example uwsgi.ini
cd $root/flask_signing_service/uwsgi_setup || exit 1
cp uwsgi.ini.example uwsgi.ini
cd $root/nginx_uwsgi || exit 1
cp federation.conf.example federation.conf
