#!/usr/bin/env bash
root="/Users/roland/code/fedservice/entities"
cd $root/flask_rp/uwsgi_setup/automatic || exit 1
nohup uwsgi --ini uwsgi.ini &
cd $root/flask_rp/uwsgi_setup/explicit || exit 1
nohup uwsgi --ini uwsgi.ini &
cd $root/flask_op/uwsgi_setup || exit 1
nohup uwsgi --ini uwsgi.ini &
cd $root/flask_signing_service/uwsgi_setup || exit 1
nohup uwsgi --ini uwsgi.ini &
cd $root/nginx_uwsgi || exit 1
nginx -p /usr/local/etc/nginx -c federation.conf
